<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seazoned">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".view.activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".view.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ViewProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.AddressBookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.activity.FaqActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.activity.DashBoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.Notification"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ServiceProviderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.BookingStepOne"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>

        <!-- here shoud be your own api key -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBEqDq2HamNlp-MjYV2MswCcjCderfFNf0" />

        <activity android:name=".view.activity.ConfirmBooking" />
        <activity
            android:name=".view.activity.SearchFilter"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ImageUploadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.PaymentInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ChatDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".view.activity.SearchDeatils"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.AddEditAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.activity.BookingStepTwo"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".view.activity.SelectImageActivity" />
        <activity
            android:name=".view.activity.BookingHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ServiceHistoryDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.AddCard"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.activity.FavouriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomWhiteStatusBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service android:name=".pushnotification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".pushnotification.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.activity.PaypalActivity" />
        <activity
            android:name=".view.activity.ContactUs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".view.activity.ChatListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.OTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.LocationSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.TestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.EditCard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ViewLandScraperProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <service android:name=".service.RedDotService" />

    </application>

</manifest>